.page_home{
	display: flex;
	flex-direction: column;

}
.navigationBar{
	// background: gray;
	flex: 15;
	display: flex;
	flex-direction: column;
	.title{
		flex: 95;
		display: flex;
		flex: 95;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: #4a90e2;
		font-size: 28px;

	}
	.progress_div{
		flex: 5;
		margin-bottom: 0px;
	}
}
.wid_form{
	flex: 85;
	display: flex;
	flex-direction: column;
	form{
		flex: 1;
		display: flex;
		flex-direction: column;
		.form_content{
			flex: 85;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			padding: 20px;
		}
		.form_footer{
			flex: 15;
			border-top: 2px solid #d4d4d4;
			.prevBtn{
				font-size: 20px;
				margin: 4%;
				color: #4a90e2;
				float: left;
			}
			.nextBtn{
				font-size: 20px;
				margin: 4%;
				color: #4a90e2;
				float: right;
			}
		}
	}
}
.feild_group{
	label{
		margin: 20px 0px;
	}
}
.feild_cell{
	input{
		width: 100%;
		border: none;
		border-bottom: 1px solid #d4d4d4;
	}
}
.invalid{
	height: 30px;
	color: red;
	span{
		line-height: 30px;
	}
}
.combodate{
	display: flex;
	select{
		flex: 33;
		border: 1px solid #d4d4d4;
		height: 40px;
		text-align: center;
		text-align-last: center;
	}
}
.center_label{
	width: 100%;
	text-align: center;
}
.hear_select{
	display: flex;
	select{
		flex: 1;
		border: 1px solid #d4d4d4;
		height: 40px;
		text-align: center;
		text-align-last: center;
	}
}
.gender{
	display: flex;
	label{
		flex: 1;
		margin: 2px;
		height: 40px;
		line-height: 30px;
		text-align: center;
		font-weight: inherit;
	}
	input[type="radio"]{
		display: none;
	}
	input[type="radio"] + label{
		cursor: pointer;
		padding: 4px 10px;
		border: 1px solid #d4d4d4;
		border-radius: 5px;
	}

	input[type="radio"]:checked + label{
		background: #4a90e2;
		color: white;
	}
}
.checkImg{
	display: flex;
	justify-content: center;
}
.subBtn_div{
	display: flex;
	justify-content: center;
	button{
		padding: 5px;
		border: 2px solid #4a90e2;
		color: #4a90e2;
		border-radius: 5px;
		height: 40px;
		font-size: 20px;
	}
		
}
button{
	background: none;
	border: none;
}
